@media screen and (max-width: 430px) {
	.product-list{
		display: none;
	}
	.nav-option{
		margin-bottom: 10px;
		margin-left:auto;
	}

  }
.container {
	margin-left: 50px;
	margin-right: 50px;
}
.col20 {
	width: 200px;
	min-width: 22%;
	display: inline-block;
	margin-left: auto;
	border: 1px solid black;
	margin-top: 20px;
	margin-left:2%;
}
.col20 p {
	text-align: center;
}
.form-margin{
	margin-top:25px;
}
.header {
	border-bottom: 1px solid black;
}
.header h1 {
	font-family: sans-serif;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-option {
	margin-top: 22px;
}
.nav-option .btn-padding {
	padding:5px 40px 5px 40px;
	margin-bottom: 5px;
}
.switcher {
	position:absolute;
	top: 225px;
	left: 150px;
}
.switch-container {
	position:absolute;
	top: 270px;
	left:50px;
	width: 300px;
	border: 1px solid black;
	padding: 30px;
}
.switch-container p{
	text-align: left;
}
.switch-container-content-padding{
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 25px;
}
#checkbox {
	float:left;
}
form{
	margin-top: 10px;
	max-width: 250px;
}
input {
	float: right;
}
main p {
	text-align: center;
}